@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar'ı tamamen gizle */
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari ve Edge */
  }
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer ve Edge */
  }

  .rbc-month-row {
    max-height: 90px;
    overflow: hidden;
  }
  
  .rbc-event {
    font-size: 12px; /* Daha fazla etkinlik için yazı boyutunu küçült */
  }
  
  .rbc-more {
    display: block !important; /* "+more" zorunlu görünür */
  }
  