@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar'ı tamamen gizle */
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari ve Edge */
  }
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer ve Edge */
  }